.about-options {
  align-items: center;
  display: flex;
  height: 6em;
  width: 100%;
}

.about-option {
  align-items: center;
  background: #7cc3ff;
  border-radius: 5px;
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
  color: white;
  display: flex;
  flex-basis: 20%;
  font-family: 'Work Sans';
  height: 4em;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}

.about-option:hover {
  transform: scale(1.05);
}

/*.about-option:nth-of-type(2n + 1) {
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}*/

/*.about-option:nth-of-type(2n + 2) {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}*/

@media screen and (max-width: 1100px) {
  .about-options {
    flex-wrap: wrap;
    height: 12em;
    padding-bottom: 3em;
  }
  .about-option {
    flex-basis: 35%;
    margin-top: 10px;
    width: 35%;
  }
  .description, .short-description {
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) {
  .about-options {
    height: 20em;
  }
  .about-option {
    flex-basis: 100%;
    width: 100%;
  }
}
