::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #ababab;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #ababab;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #ababab;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #ababab;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #ababab;
}
::placeholder { /* Most modern browsers support this now. */
   color: #ababab;
}

.text-input {
	color: #aaaaaa;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Work Sans';
}

.navbar {
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.025);
	color: black;
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	position: fixed;
	z-index: 1;
}

.navbar-link, .navbar div {
	line-height: 50px;
	text-transform: capitalize;
	font-size: 13px;
	font-weight: 400;
}

.navbar-link, .home-link {
	color: #3f3f3f;
	cursor: pointer;
	text-decoration: none;
}

.navbar-link:active, .navbar-link:focus, .navbar-link:hover {
	color: #67C8FF;
}

#home {
	color: #3f3f3f;
	font-size: 14px;
	font-weight: 700;
}

.header {
  font-weight: 400;
}

.container {
	padding: 50px;
	max-width: 700px;
	margin-top: 50px;
	transition: all 1s;
}

.description {
	max-width: 700px;
	font-size: 14px;
	line-height: 24px;
	font-family: 'Lato';
	margin-top: 20px;
	text-align: justify;
}

.email-address {
  color: #67C8FF;
  text-decoration: underline;
}
