#overlay {
	background-color: white;
	display: none;
	opacity: 1;
	transition: all 1s ease-in;
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
	width: 600px;
	height: 400px;
}

#something {
	display: flex;
}

#paras {
	/*margin-top: -50px;*/
}

#charts {
	padding-top: 10px;
	display: flex;
	transition: all 1s;
}

.space {
	width: 30%;
}

form div div {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 300;
}

form div input {
	height: 35px;
	width: 100%;
	border-bottom: 1px solid lightgrey;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	background-color: rgba(255, 255, 255, 0.0);
	/*background-color: none;*/
	margin-top: 4px;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Lato';
}

.in {
	padding-bottom: 30px;
	/*padding: 0 20px;*/
}

#last {
	padding-bottom: 8px;
}

form {
	/*background-color: rgba(255, 255, 255, 0.6);*/
	/*padding: 30px;*/
}

#sidebar {
	width: 20%;
	height: 100vh;
	padding: 44px;
	flex-direction: column;
	overflow: hidden;
	margin-top: 50px;
	min-width: 250px;
	background-color: #f8f8f8;
	margin-bottom: -5000px;
	padding-bottom: 5000px;
}

button {
	border-radius: 20px;
	border: none;
	height: 28px;
	/*width: 80px;*/
	margin: 4px;
	background-color: #0e004f;
	background-color: #7cc3ff;
	color: white;
	font-weight: 400;
}

.rating div {
	min-width: 110px;
}

.A {
	display: inline-block;
}

#code {
	text-transform: uppercase;
	font-weight: 400;
	color: #aaa;
	font-size: 24px;
}

#title {
	font-size: 64px;
	border-bottom: 2px solid #ddd;
	padding-bottom: 20px;
	font-weight: 100;
}

#charts {
	margin-bottom: 1em;
	margin-top: 1em;
	z-index: 1;
}

.notnavbar {
	display: flex;
}

.content {
	display: flex;
	height: 100%;
}

.quick-link {
	cursor: pointer;
	outline: none;
}

#submit-query {
	background: white;
	border-radius: 5px;
	box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
	margin-top: 20px;
	transition: 0.3s all ease-in-out;
}

#submit-query:hover {
	box-shadow: 3px 9px 17.5px rgba(36, 37, 38, 0.13);
}

#submit-query:hover #search {
	color: #67C8FF;
}

#search {
	background-color: transparent;
	color: #3a3a3a;
	cursor: pointer;
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 18px;
	outline: none;
	margin: 10px 0 10px 0;
	text-align: center;
	text-transform: uppercase;
	transition: 0.3s all ease-in-out;
	width: 100%;
}

.outer {

}

.r {
	margin-bottom: 10px;
	font-weight: 400;
}

.i {
	font-size: 32px;
	font-weight: 300;
	/*color: #bd7cff;*/
	color: #7cc3ff;
	margin-top: -6px;
}

.rating {
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 10px;
	font-size: 12px;
	flex-wrap: wrap;
}


/* Style The Dropdown Button */
.dropbtn {
    /*background-color: #4CAF50;*/
    color: white;
    padding: 16px;
    font-size: 13px;
    border: none;
    cursor: pointer;
    line-height: 0px;
    text-transform: uppercase;
    height: -20px;
    /* position: absolute; */
    border-bottom: 2px solid lightgrey;
    border-radius: 0;
    background-color: transparent;
    color: grey;
}
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    font-size: 13px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    /*background-color: #f9f9f9;*/
    background-color: lightgray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 16px;
    height: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 13px;
    border-bottom: 2px solid lightgrey;
    background-color: #f9f9f9;
}

.quick-link {
	width: 100px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    font-size: 13px;
}

.dropdown {
/*	position: absolute;
  	bottom: 0;*/
  	/*left: 0;*/
  	margin-top: -80px;
  	margin-left: 330px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    /*font-size: 16px;*/
}

#home-mobile {
	display: none;
}


@media only screen and (max-width: 1100px) {
	#title {
		/*font-size: 40px;*/
	}
}

@media only screen and (max-width: 900px) {
	#title {
		font-size: 30px;
	}

	.dropdown {
		margin: 0px auto;
		border-bottom: none;
		margin-left: -16px;
	}

	.dropdown button {
		border-bottom: none;
	}
}

@media only screen and (max-width: 700px) {
	.notnavbar {
		display: initial;
	}

	#charts {
		display: none;
	}

	.space {
		display: none;
	}

	#search {
		text-align: center;
	}

	.container {
		margin-top: 30px;
	}

	#sidebar {
		background: #f6f6f6;
		width: 100%;
		height: 70vh;
		padding: 0;
		display: none;
	}

	#home-mobile {
		display: initial;
		font-weight: 900;
		margin-left: 8px;
	}

	#home {
		display: none;
	}

	form {
		height: 100%;
	}

	form div input {
		text-align: center;
		width: 70%;
	}

	#sidebar div {
		/*margin: 0 auto;*/
		text-align: center;
	}

	.dropdown {
		margin: 0px auto;
		border-bottom: none;
		margin-left: -16px;
	}

	.dropdown button {
		border-bottom: none;
	}
}
